:root {
    --breadcrumbGreen: #3CB043;
    --breadcrumbCircleDimension: 50px;
    --footerMargins: 50px;
}

body {
    font-family: "Roboto";
}

/* BREADCRUMB TRAIL */ 
#breadcrumbTrail {
    position: absolute; top: 50px; left: 50%; transform: translateX(-50%);
    width: 40%;
}
/* Breadcrumb Lines */
#breadcrumbLineContainer {
    position: absolute; top: 20px;
    border-radius: 10px;
    overflow: hidden;
    width: 100%; height: 10px;
}
#breadcrumbLineForeground {
    position: absolute;
    height: inherit; width: calc(50% + var(--breadcrumbCircleDimension) / 2);
    background-color: var(--breadcrumbGreen);
    transition: 1000ms ease-in-out;
}
#breadcrumbLineBackground {
    width: inherit; height: inherit;
    background-color: darkgray;
}
/* Breadcrumb Circles */
#breadcrumbCircles {
    position: absolute; top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.breadcrumbCircle {
    width: var(--breadcrumbCircleDimension); height: var(--breadcrumbCircleDimension);
    border-radius: var(--breadcrumbCircleDimension);
    background-color: darkgray;
    line-height: var(--breadcrumbCircleDimension);
    display: flex; justify-content: center;
    font-size: 24px;
    transition: 1000ms ease-in-out;
}
.breadcrumbCircleGreen {
    background-color: var(--breadcrumbGreen);
    color: white;
}
.breadcrumbCircleGray {
    background-color: darkgray;
    color: darkgray;
}

/* TITLE */
#title {
    position: absolute; top: 120px;
    font-family: "Montserrat";
    width: 100vw;
    text-align: center;
    font-size: 32px;
    color: darkslategray;
    left: 0;
}

/* MOD SELECTION */
#modSelection {
    position: absolute; top: 200px; left: 50%; transform: translateX(-50%);
    width: 100vw; height: calc(100vh - 275px);
    display: flex; flex-direction: column;
}
#modDetailsContainer {
    display: flex; flex-direction: column; align-items: center;
}

/* FOOTER */
footer {
    position: fixed; bottom: 0; left: 0;
    width: 100vw; height: 75px;
    background-color: darkslategray;
    color: white;
}
footer p {
    line-height: 75px;
    margin: 0 0 0 var(--footerMargins);
}
footer a {
    color: white;
}
#x_twitter_logo_footer {
    position: absolute; top: 12.5px; right: var(--footerMargins);
    height: 50px;
    z-index: 1;
}